@using Aula1.Models.Helpers
@{
    var CarrinhoDeCompras = Context.Session.GetJson<Carrinho>("CarrinhoDeCompras") ??
           new Carrinho();
    int qtd = CarrinhoDeCompras == null ? 0 : CarrinhoDeCompras.items.Count();
}
<div class="form-inline d-flex ">
    <span class="badge badge-dark fs-6 ">@qtd</span>
    <strong>
        <svg bootstrap-icon="Cart"
             class="text-white me-2" width="24" height="24"
             aria-label="Search"></svg>
    </strong>
</div>