@using (Html.BeginForm("Search", "Cursos", FormMethod.Post))
{
    <div class="form-inline d-flex">
        <input type="text" name="TextoAPesquisar" id="TextoAPesquisar" placeholder="curso a pesquisar" />
        <button type="submit" class="btn btn-default ms-2 me-2">Search</button>
    </div>
}